body {
	background-image:url('../img/haliteGrande.JPG');
	background-size: 115%;
	min-height: 100%;
	max-height: 100%;
	width: 100%;
	overflow: hidden;
}
html{
	min-height: 100%;
	max-height: 100%;
	width: 100%;
}
#bigDiv{
	min-height: 100%;
	max-height: 100%;
	width: 100%;
	position: absolute;
}
#logoAnteaLogin {
	width: 20%;
}
#logoAnteaCalendar {
	width: 6%;
	margin-left: 0.1%
}
#ord {
	vertical-align: middle;
}
#auth {
	margin-top: 50%;
	margin-bottom: 50%;
	background-color: #f5f5f5;
	padding: 10%;
	border-radius: 25px;
}
.control-label[name="authForm"]{
	float: left;
	width: 1%;
	padding-top: 5px;
	text-align: right;
	margin-left: 28%;
}
.controls[name="authForm"] {
	margin-left: 35%;
	margin-right: auto;
}
input[name="inputAuth"]{
	width: 60%;
}
.well {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 5px;
	margin-right: 3%;
}
.table-bordered {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #f5f5f5;
}
.table td, .table th{
	margin: 4px;
	padding: 4px;
	padding-bottom: 1px;
	padding-top: 1px;
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
}
#freccia{
	cursor: pointer;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	font-size: 35px;
	line-height: 15px;
	color: black;
	vertical-align: middle;
	background: white;
	border: 3px solid black;
}
div[property="span"] {
	height: 92%;
	overflow-x: auto;
	overflow-y: auto;
}
#calendarMonth {
	text-align: center;
}
.carousel-inner{
	text-align: center;
}
.carousel {
	margin-bottom: 0px;
}
.editable-false {
	background-color: #e6e6e6;
}
.editable-true {
	cursor: pointer;
}
td>input[type=checkbox]{
	opacity: 0;
}
.focused-true{
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px 
}
.controls[name="formInput"] {
	margin-left: 50px;
}
.control-label[name="formInput"]{
	float: left;
	width: 0px;
	padding-top: 5px;
	text-align: right;
}
.form-horizontal .control-group{
	margin-bottom: 4px;
}
input[name="formInput"][type="text"]{
	width: 150px;
}
.form-horizontal{
	margin-bottom: 4px;
	margin-top: 4px;
}
#headers{
	background-color: #e6e6e6;
	border: 1px solid black;
}
.we-true{
	color: #0000a6;
}
.wend-true{
	background-color: #e6e6e6;
}
hr{
	margin: 3px;
	border-top: 1px solid #cfcfcf;
}
.container-fluid {
	padding-left: 0%
}
div[name="mainDiv"]{
	margin-top: 5%;
	display: block;
	height: 100%;
}
div[name="notMainDiv"]{
	height: inherit;
}
div[name="table"]{
	margin-top: 20px;
}
h5 {
	margin: 1px;
}
form[name="form"]{
	margin: 0px;
}
button[name="filterBtn"]{
	margin-top: -40%;
	width: 200px;
	transform:rotate(90deg);
	transform-origin: left bottom;
	-webkit-transform:rotate(90deg);
	-webkit-transform-origin: left bottom;
	-moz-transform:rotate(90deg);
	-moz-transform-origin: left bottom;
	-o-transform: rotate(90deg);
	-o-transform-origin: left bottom;
	-ms-transform: rotate(90deg);
	-ms-transform-origin: left bottom;
}
.row-fluid .span11 {
	height: 92%;
	width: 97.5%;
	margin-left: 1px;
}
.row-fluid .span10 {
	margin-left: 0.5%;
	width: 84.5%;
}
.row-fluid .span1 {
	margin-left: 0%;
	width: 2%;
	height: 96%;
}
.row-fluid .span2 {
	margin-left: 0%;
}
div[name="calendarDiv"] {
	padding-top: 0.5%;
}
#loadingDiv{
	border-radius: 10px;
	display: inline;
	height: 5%;
	margin-top: 20px;
	background-color: #f5f5f5;
}
#loadedErrorDiv{
	border-radius: 10px;
	display: inline;
	height: 5%;
	margin-top: 20px;
	background-color: #f5f5f5;
}
#loadedSuccessDiv{
	border-radius: 10px;
	display: inline;
	height: 5%;
	margin-top: 20px;
	background-color: #f5f5f5;
}
#loadingAntea{
	width: 90%;
	padding-left: 1%;
	padding-right: 0px;
}
#inline{
	display: inline-block;
}
span[name="img"]{
	width: 50px;
	padding-left: 1%;
}