body {
	background-image:url('../img/haliteGrande.JPG');
	background-repeat: repeat;
	background-size: 115%;
	min-height: 100%;
	width: 100%;
	overflow: hidden;
}
html{
	height: 100%;
	width: 100%;
}
#bigDiv{
	min-height: 100%;
	width: 100%;
	position: absolute;
}
#logoAnteaLogin {
	width: 20%;
}
#logoAnteaCalendar {
	width: 6%;
	margin-left: 0.1%
}
#ord {
	vertical-align: middle;
}
#auth {
	margin-top: 50%;
	margin-bottom: 50%;
	background-color: #f5f5f5;
	padding: 10%;
	border-radius: 25px;
}
.control-label[name="authForm"]{
	float: left;
	width: 1%;
	padding-top: 5px;
	text-align: right;
	margin-left: 28%;
}
.controls[name="authForm"] {
	margin-left: 35%;
	margin-right: auto;
}
input[name="inputAuth"]{
	width: 60%;
}
.well {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 5px;
	margin-right: 3%;
}
.table-bordered {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 20px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #f5f5f5;
	overflow-x: auto;
	overflow-y: auto;
}
.table td, .table th{
	margin: 4px;
	padding: 4px;
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
}
#freccia{
	cursor: pointer;
}
#span {
	margin-left: 0.5%;
	overflow-x: auto;
	overflow-y: auto;
}
#calendarMonth {
	text-align: center;
}
.editable-false {
	background-color: #e6e6e6;
}
.editable-true {
	cursor: pointer;
}
td>input[type=checkbox]{
	opacity: 0;
}
.focused-true{
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px 
}
.controls[name="formInput"] {
	margin-left: 50px;
}
.control-label[name="formInput"]{
	float: left;
	width: 0px;
	padding-top: 5px;
	text-align: right;
}
.form-horizontal .control-group{
	margin-bottom: 4px;
}
input[name="formInput"][type="text"]{
	width: 150px;
}
.form-horizontal{
	margin-bottom: 4px;
	margin-top: 4px;
}
#headers{
	background-color: #e6e6e6;
	border: 1px solid black;
}
.we-true{
	color: #0000a6;
}
hr{
	margin: 3px;
	border-top: 1px solid #cfcfcf;
}
.container-fluid {
	padding-left: 0%
}
div[name="mainDiv"]{
	margin-top: 5%;
	display: block;
	position: relative;
}