<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid" id="authContainer">
		<div class="navbar-header">
			<a class="navbar-brand">
				<img id="logoAnteaLogin" src="img/Antea_logo_colore_def.png" class="img-responsive"alt="Brand">
			</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><h1 class="navbar-text navbar-right" id="titleRight">Better Salgemma</h1></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container-fluid">
	<div class="row-fluid">
		<!--div class="span4 offset4"-->
		<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12 col-lg-4 col-lg-offset-4">
			<div id="auth">
				<h2>Autenticazione:</h2>
				<p>
					<form class="form-horizontal" id="authForm">
						<div class="control-group">
							<label class="control-label" name="authForm" for="login"><span class="glyphicon glyphicon-user"></span></label>
							<div class="controls" name="authForm">
								<input type="text" id="login" name="inputAuth" ng-model="userName" placeholder="UserName" autofocus="autofocus">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" name="authForm" for="password"><span class="glyphicon glyphicon-lock"></span></label>
							<div class="controls" name="authForm">
								<input type="password" id="password" name="inputAuth" ng-model="pw" placeholder="Password">
							</div>
						</div>
						<div class="control-group">
							<div class="controls" name="authForm">
								<button class="btn btn-default" ng-click="submitLogin()"><span class="glyphicon glyphicon-ok"></span> OK</button>
							</div>
						</div>
					</form>
				</p>
				<div class="alert alert-error" ng-repeat="error in errors">
					<h4>{{error.subject}}</h4>
					<p>{{error.description}}</p>
				</div>
			</div>
		</div>
	</div>
</div>