<nav class="navbar navbar-default navbar-static-top" ng-click="removeFocus($event)">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand">
				<img id="logoAnteaCalendar" src="img/Antea_logo_colore_def.png" alt"Brand" class="navbar-brand">
			</a>
		</div>
		<div class="collapse navbar-collapse" id="calendarNavCollapse">
			<form class="navbar-form navbar-left">
				<h4>
					<span class="glyphicon glyphicon-calendar"></span> Calendario: 
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-default active" ng-click="calendarTypeMonth()">
							<input type="radio" name="options" id="radiomonth" autocomplete="off" checked> Mese
						</label>
						<label class="btn btn-default" ng-click="calendarTypeWeek()">
							<input type="radio" name="options" id="radioweek" autocomplete="off"> Settimana
						</label>
					</div>
					<input type="month" name="inputMonth" ng-model="selectedDate" ng-change="calculateCalendar()" placeholder="yyyy-MM" min="{{selectedYear-2}}-01" max="{{selectedYear+2}}-12" required ng-show="isMonthSelected">
					<input type="week" name="inputWeek" ng-model="selectedDate" ng-change="calculateCalendar()" placeholder="yyyy-W##" min="{{selectedYear-2}}-01" max="{{selectedYear+2}}-53" required ng-hide="isMonthSelected">
					<span name="inline" id="loadingDiv"><img id="loadingAntea" src="img/Antea_loading.png">Caricamento...</span>
					<span ng-hide="true" name="inline" id="loadedErrorDiv"><img id="errorAntea" src="img/stop.png">Operazione fallita</span>
				</h4>
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a id="dropuser" role="button" class="dropdown-toggle" data-toggle="dropdown">
						<h4>
							{{user.nome}}
							<b class="caret"></b>
						</h4>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropuser">
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="" data-target="#infoModal" data-toggle="modal"><span class="glyphicon glyphicon-info-sign"></span> Info</a>
							<a role="menuitem" tabindex="-1" href="" data-target="#modalProfilo" data-toggle="modal" ng-click="instantiatesProfileField()"><span class="glyphicon glyphicon-user"></span> Profilo</a>
							<a role="menuitem" tabindex="-1" href="" ng-click="makeReport()"><span class="glyphicon glyphicon-print"></span> Stampa report</a>
						</li>
						<li role="separator" class="divider"></li>
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="#/salgemmainterface/logout" ng-click="logout()"><span class="glyphicon glyphicon-off"></span> Logout</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div ng-include src="'/pages/profileModal.html'"></div>
<div ng-include src="'/pages/infoModal.html'"></div>
<div name="mainDiv" id="bigDiv" class="container-fluid" ng-click="removeFocus($event)">
	<div class="row-fluid" name="notMainDiv">
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" ng-show="dinamicHide" name="rotatedButton"><button class="btn btn-info" ng-click="dinamicMenuFilter()" name="filterBtn"><p class="verticaltext">{{dinamicLabelBtn}}</p></button></div>
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-hide="dinamicHide" id="outerFilters" changeform template="{{filtersview}}">
		</div>
		<div class="col-xs-{{dinamicSpan}} col-sm-{{dinamicSpan}} col-md-{{dinamicSpan}} col-lg-{{dinamicSpan}}" name="table" id="loadedDiv" ng-cloak>
			<div class="panel panel-default">
				<table class="table table-bordered" ng-cloak>
					<thead ng-cloak>
						<tr>
							<th id="headers" name="headers">Ordine</th>
							<th id="headers" name="headers">Attività</th>
							<th ng-repeat="day in month" id="headers" name="headers"><p class="we-{{day.isWeekend}}">{{day.date}}</p></th>
							<th id="headers" name="headers">Totale</th>
						</tr>
					</thead>
					<tbody ng-cloak>
						<tr ng-repeat="task in tasks | taskFilter" ng-cloak class="rowSelected-{{rowSelected}}">
							<td id="headers"><h5 ng-show="task.show">{{task.order.descrizione}}</h5></td>
							<td id="headers"><h5>{{task.descrizione}}</h5></td>
							<td id="repeatedMonth" ng-repeat="day in task.mese" class="editable-{{day.editable}} focused-{{focused}} wend-{{day.isWeekend}} planned-{{day.planned}}" key-focus ng-click="tdClick($event, $index, task)">
								<input name="formInput" type="checkbox" ng-model="editmode" id="check-{{task.ids[0]}}-{{$index}}" ng-click="focusOn($event, $index, task)" tabindex="-1" ng-show="!day.editable">
								<form popover class="form-inline" ng-hide="editmode && day.editable" id="form-{{task.ids[0]}}-{{$index}}" name="form">
									<label>{{day.ore}}{{day.unimis}}</label>
									<span class="glyphicon glyphicon-comment" ng-show="day.note"></span>
								</form>
								<form class="form-horizontal" ng-show="editmode && day.editable" changeform template="{{innerform}}"></form>
							</td>
							<td id="headers" name="headers"><h5>{{task.total}}</h5></td>
						</tr>
					</tbody>
					<tfoot ng-cloak>
						<tr>
							<th id="headers" name="headers">Totale</th>
							<td id="headers" name="headers"><h5>Totale</h5></td>
							<td ng-repeat="taskDay in totalTask track by $index" id="headers" name="headers"><h5>{{taskDay.ore}}</h5></td>
							<th id="headers" name="headers">{{totalMonth}}</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>