<div class="navbar navbar-fixed-top" ng-click="removeFocus($event)">
	<div class="navbar-inner">
		<div class="container" style="width: auto;">
			<img id="logoAnteaCalendar" src="img/Antea_logo_colore_def.png" class="brand">
			<div name="q" class="span1.5"><h4><i class="icon-calendar"></i> Calendario:</h4></div>
			<div name="q" class="span3" id="span">
				<div id="calendarCarousel" class="carousel slide" data-interval="false">
					<div class="carousel-inner">
						<div ng-repeat="calendario in calendar" class="{{calendario.active}}item">
							<h4><span id="calendarMonth" ng-model="selectedMonth">{{calendario.monthDescription}}  </span><span id="calendarMonth" ng-model="selectedYear">  {{calendario.year}}</span></h4>
						</div>
					</div>
					<a id="freccia" class="carousel-control left" ng-click="prev()">&lsaquo;</a>
					<a id="freccia" class="carousel-control right" ng-click="next()">&rsaquo;</a>
				</div>
			</div>
			<ul class="nav pull-right">
				<li class="dropdown">
					<a id="dropuser" href="#" role="button" class="dropdown-toggle brand" data-toggle="dropdown" ng-repeat="user in users">
						{{user.nome}}
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropuser">
						<li role="presentation">
							<a role="menuitem" tabindex="-1" href="#/salgemmainterface/logout"><i class="icon-off"></i> Logout</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
<div name="mainDiv" id="bigDiv" class="container-fluid" ng-click="removeFocus($event)">
	<div class="row-fluid" name="notMainDiv">
		<div class="span1" id="inline" ng-show="dinamicHide"><button class="btn btn-info" ng-click="dinamicMenuFilter()" name="filterBtn"><i class="icon-list"></i> {{dinamicLabelBtn}}</button></div>
		<div class="span2" id="span" ng-hide="dinamicHide">
			<div class="well">
				<div>
					<button class="btn btn-info" ng-click="dinamicMenuFilter()" ng-hide="dinamicHide">{{dinamicLabelBtn}}</button>
					<h5><i class="icon-list"></i> Ordini visualizzati:</h5>
					<ul class="unstyled">
						<li>
							<input type="checkbox" ng-click="selectOrDeselectAll()" checked> 
							<span><strong>Seleziona Tutto</strong></span>
						</li>
						<hr>
						<li ng-repeat="ordine in ordini">
							<input type="checkbox" ng-model="ordine.selected">
							<span>{{ordine.descrizione}}</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="span{{dinamicSpan}}" id="span" name="table">
			<div id="inline">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th id="headers" name="headers">Ordine</th>
							<th id="headers" name="headers">Attività</th>
							<th ng-repeat="day in month" id="headers" name="headers"><p class="we-{{day.isWeekend}}">{{day.day}}</p><p class="we-{{day.isWeekend}}">{{day.number}}</p></th>
							<th id="headers" name="headers">Totale</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="task in tasks | orderBy:order.descrizione | taskFilter">
							<td id="headers"><h5 ng-show="task.show">{{task.order.descrizione}}</h5></td>
							<td id="headers"><h5>{{task.descrizione}}</h5></td>
							<td id="repeatedMonth" ng-repeat="day in task.mese" class="editable-{{day.editable}} focused-{{focused}} wend-{{day.isWeekend}}" key-focus ng-click="tdClick($event, $index, task)">
								<input name="formInput" type="checkbox" ng-model="editmode" id="check-{{task.id}}-{{$index}}" ng-click="focusOn($event, $index, task)" tabindex="-1" ng-show="!day.editable">
								<form popover class="form-inline" ng-hide="editmode && day.editable" id="form-{{task.id}}-{{$index}}" name="form">
									<label>{{day.ore}}</label>
									<label>{{day.unimis}}</label>
									<i class="icon-comment" ng-show="day.note"></i>
								</form>
								<form class="form-horizontal" ng-show="editmode && day.editable">
									<div class="control-group {{validator}}">
										<label name="formInput" class="control-label" for="ore">Ore:</label>
										<div class="controls" name="formInput">
											<input name="formInput" type="text" id="ore-{{task.id}}-{{$index}}" ng-model="editore" placeholder={{day.ore}} ng-change="validate(editore)" focus-me="editmode">
										</div>
									</div>
									<div class="control-group">
										<label name="formInput" class="control-label" for="note">Note:</label>
										<div class="controls" name="formInput">
											<input name="formInput" type="text" id="note" ng-model="editnote" placeholder={{day.note}}>
										</div>
									</div>
									<div class="control-group">
										<div class="controls" name="formInput">
											<button class="btn" name="formInput" ng-click="save($index, day, task, editore, editnote)"><i class="icon-ok"></i> OK</button>
											<button class="btn" name="formInput" ng-click="discard($index, day, task, editore, editnote)"><i class="icon-remove"></i> Annulla</button>
										</div>
									</div>
								</form>
							</td>
							<td id="headers" name="headers"><h5>{{task.total}}</h5></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<th id="headers" name="headers">Totale</th>
							<td id="headers" name="headers"><h5>Totale</h5></td>
							<td ng-repeat="taskDay in totalTask" id="headers" name="headers"><h5>{{taskDay.ore}}</h5></td>
							<th id="headers" name="headers">{{totalMonth}}</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>