<div class="page-header">
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container" style="width: auto;">
				<img id="logoAnteaCalendar" src="img/Antea_logo_colore_def.png" class="brand">
				<ul class="nav pull-right">
					<li class="dropdown">
						<a id="dropuser" href="#" role="button" class="dropdown-toggle brand" data-toggle="dropdown" ng-repeat="user in users">
							{{user.nome}}
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropuser">
							<li role="presentation">
								<a role="menuitem" tabiondex="-1" href="#/salgemmainterface/logout"><i class="icon-off"></i> Logout</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="well">
				<table class="table table-bordered">
					<tr>
						<th>Ordine</th>
						<th>Attività</th>
						<th ng-repeat="day in month"><p>{{day.day}}</p><p>{{day.number}}</p></th>
					</tr>
					<tr ng-repeat="ordine in ordini">
						<td rowspan="{{ordine.attivita.length+1}}" id="ord">{{ordine.descrizione}}</td>
					</tr>
					<tr ng-repeat="attivitaSingole in ordini | filtroAttivita">
						<td>
							{{attivitaSingole.descrizione}}
						</td>
						<td ng-repeat="day in attivitaSingole.mese" ng-dblclick="editable=true">
							<form class="form-inline" ng-hide="editable">
								<label popover>{{day.ore}}</label>
								<label>{{day.unimis}}</label>
							</form>
							<form class="form-horizontal" ng-show="editable">
								<div class="control-group">
									<label class="control-label" for="ore">Ore:</label>
									<div class="controls">
										<input type="text" id="ore" ng-model="editore" placeholder={{day.ore}}>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="note">Note:</label>
									<div class="controls">
										<input type="text" id="note" ng-model="editnote" placeholder={{day.note}}>
									</div>
								</div>
								<div class="control-group">
									<div class="controls">
										<button class="btn" ng-click="editable=false; save($index, day, attivitaSingole, editore, editnote)"><i class="icon-ok"></i> OK</button>
										<button class="btn" ng-click="editable=false; editore=undefined; editnote=undefined"><i class="icon-remove"></i> Annulla</button>
									</div>
								</div>
							</form>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>