<div id="modalProfilo" class="modal fade" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="modalExit()">&times;</button>
				<h3>Profilo di {{user.nome}}</h3>
			</div>
			<div class="modal-body">
				<button class="btn btn-default" ng-click="userEditChange()" ng-hide="isUserEditing"><span class="glyphicon glyphicon-edit"></span> Modifica</button>
				<button class="btn btn-default" ng-click="saveUserEdit(editnome, editmail, editcel, edittel, editaddress, editcap, editcitta, editprov, editnazione, editcodf, editpiva)" ng-show="isUserEditing"><span class="glyphicon glyphicon-ok"></span> Salva</button>
				<button class="btn btn-default" ng-click="discardUserEdit()" ng-show="isUserEditing"><span class="glyphicon glyphicon-remove"></span> Annulla</button>
				<form class="form-horizontal" id="userEdit">
					<div class="form-group" type="userEdit">
						<label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label" id="stdLabel" for="inputName">Nome: </label>
						<label class="control-label" for="inputName" ng-hide="isUserEditing"><strong>{{user.nome}}</strong></label>
						<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 controls" id="inputEditUser">
							<input type="text" id="inputName" ng-show="isUserEditing" ng-model="editnome" class="form-control">
						</div>
					</div>
					<div class="form-group" type="userEdit">
						<label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label" id="stdLabel" for="inputEmail">E-mail: </label>
						<label class="control-label" for="inputEmail" ng-hide="isUserEditing"><strong>{{user.email}}</strong></label>
						<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 controls" id="inputEditUser">
							<input type="text" id="inputEmail" placeholder="Email" ng-show="isUserEditing" ng-model="editmail" class="form-control">
						</div>
					</div>
					<div class="form-group" type="userEdit">
						<label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label" id="stdLabel" for="inputCel">Cellulare: </label>
						<label class="control-label" for="inputCel" ng-hide="isUserEditing"><strong>{{user.cellulare}}</strong></label>
						<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 controls" id="inputEditUser">
							<input type="text" id="inputCel" placeholder="Cellulare" ng-show="isUserEditing" ng-model="editcel" class="form-control">
						</div>
					</div>
					<div class="form-group" type="userEdit">
						<label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label" id="stdLabel" for="inputTel">Telefono: </label>
						<label class="control-label" for="inputTel" ng-hide="isUserEditing"><strong>{{user.telefono}}</strong></label>
						<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 controls" id="inputEditUser">
							<input type="text" id="inputTel" placeholder="Telefono" ng-show="isUserEditing" ng-model="edittel" class="form-control">
						</div>
					</div>
					<div class="form-group" type="userEdit">
						<label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label" id="stdLabel" for="inputAddress">Indirizzo: </label>
						<label class="control-label" for="inputAddress" ng-hide="isUserEditing"><strong>{{user.indirizzo}},<!--/br-->{{user.cap}} {{user.citta}}, ({{user.provincia}},{{user.nazione}})</strong></label>
						<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 controls" id="inputEditUser">
							<input type="text" id="inputAddress" placeholder="Indirizzo" ng-show="isUserEditing" ng-model="editaddress" class="form-control">
							<input type="text" id="inputAddress2" placeholder="Cap" ng-show="isUserEditing" ng-model="editcap" class="form-control">
							<input type="text" id="inputAddress3" placeholder="Città" ng-show="isUserEditing" ng-model="editcitta" class="form-control">
							<input type="text" id="inputAddress4" placeholder="Provincia" ng-show="isUserEditing" ng-model="editprov" class="form-control">
							<input type="text" id="inputAddress5" placeholder="Nazione" ng-show="isUserEditing" ng-model="editnazione" class="form-control">
						</div>
					</div>
					<div class="form-group" type="userEdit">
						<label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label" id="stdLabel" for="inputCodF">Cod.Fiscale: </label>
						<label class="control-label" for="inputCodF" ng-hide="isUserEditing"><strong>{{user.codicefiscale}}</strong></label>
						<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 controls" id="inputEditUser">
							<input type="text" id="inputCodF" placeholder="Codice Fiscale" ng-show="isUserEditing" ng-model="editcodf" class="form-control">
						</div>
					</div>
					<div class="form-group" type="userEdit">
						<label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label" id="stdLabel" for="inputPiva">P.Iva: </label>
						<label class="control-label" for="inputPiva" ng-hide="isUserEditing"><strong>{{user.partitaiva}}</strong></label>
						<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 controls" id="inputEditUser">
							<input type="text" id="inputPiva" placeholder="Partita Iva" ng-show="isUserEditing" ng-model="editpiva" class="form-control">
						</div>
					</div>
					<div class="form-group" type="userEdit">
						<button class="btn btn-default" ng-click="editPwChange()" ng-hide="editpw"><span class="glyphicon glyphicon-eye-open"></span> Modifica Password</button>
					</div>
					<div class="well" ng-show="editpw" id="wellPw">
						<h5>Modifica Password:</h5>
						<div class="form-group {{oldPwWrong}}" type="userEdit">
							<label class="col-xs-5 col-sm-5 col-md-5 col-lg-5 control-label" for="inputOldPw">Vecchia password: </label>
							<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 controls" id="inputEditPw">
								<input type="password" id="inputOldPw" placeholder="" ng-model="editoldpw" focus-me="editpw" class="form-control">
								<span ng-show="oldPwWrong" class="help-inline">Vecchia password errata</span>
							</div>
						</div>
						<div class="form-group" type="userEdit">
							<label class="col-xs-5 col-sm-5 col-md-5 col-lg-5 control-label" for="inputNewPw">Nuova password: </label>
							<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 controls" id="inputEditPw">
								<input type="password" id="inputNewPw" placeholder="" ng-model="editnewpw" class="form-control">
							</div>
						</div>
						<div class="form-group {{mismatchNewPw}}" type="userEdit">
							<label class="col-xs-5 col-sm-5 col-md-5 col-lg-5 control-label" for="inputReNewPw">Reinserire nuova password: </label>
							<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 controls" id="inputEditPw">
								<input type="password" id="inputReNewPw" placeholder="" ng-model="editrenewpw" class="form-control">
								<span ng-show="mismatchNewPw" class="help-inline">Nuove password differenti</span>
							</div>
						</div>
						<div class="form-group" type="userEdit">
							<button class="btn btn-default" ng-click="saveUserPw(editoldpw, editnewpw, editrenewpw)"><span class="glyphicon glyphicon-ok"></span> Salva</button>
							<button class="btn btn-default" ng-click="discardUserPw()"><span class="glyphicon glyphicon-remove"></span> Annulla</button>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn btn-default" data-dismiss="modal" aria-hidden="true" ng-click="modalExit()"><span class="glyphicon glyphicon-remove"></span> Chiudi</a>
			</div>
		</div>
	</div>
</div>